.BG01
  background-color: $color-primario
.BG02
  background-color: $color-secundario
.BG03
  background-color: $color-acento-contenido
.BG04
  background-color: $color-acento-botones
  
.BG10, 
  background-color: lighten($color-primario, 30%)
.BG20
  background-color: lighten($color-secundario, 45%)
.BG30
  background-color: lighten($color-acento-contenido, 31%)
.BG40
  background-color: lighten($color-acento-botones, 30%)

.tabs-b__tab
  background-color: lighten($color-acento-botones, 25%)

.tabs-b__tab--active
  background-color: lighten($color-primario, 25%)

  
.BGcolorH
  background-color: $color-sistema-h

.BGcolor01
  background-color: #1565C0

.BR01
  border-radius: 8px

.bgImg01
  background-image: url("../assets/curso/tema1/img04.svg")
  background-size: cover
  background-repeat: no-repeat
  background-position: center

